@import "../../styles/variables";

.todos {
  padding-top: 1rem;

  & &__item {
    padding-block: .2rem;
    padding-inline: .5rem;

    &:first-child ~ .todos__item {
      border-top: 1px $color_border solid;
    }
  }
}

