.todos {
  padding-top: 4rem;

  &__item {
    display: flex;
    align-items: center;
    padding-block: 1rem;
    border-bottom: 1px hsl(0, 0%, 90%) solid;

    &#{&}_important {
      color: red;

      .todos__text {
        font-weight: bold;
      }
    }

    &#{&}_completed {
      .todos__text {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          height: 1px;
          background: currentColor;
        }
      }
    }
  }

  &__text {
    flex: 1;
  }
}

