@import "../../../styles/variables";

.todo {
  position: relative;
  display: flex;
  transition: $trans background-color linear;

  & &__icon-mark {
    position: absolute;
    left: -.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: $color_warn;
  }

  & &__cell {
    padding-block: .8rem;

    &_num {
      padding-right: .5rem;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        margin-left: 2.5rem;
        background-color: $color_border;
      }
    }

    &_content {
      --color-even: hsl(0, 0%, 80%);
      --color-odd: hsla(0, 0%, 100%, 0);
      position: relative;
      flex: 1 1 auto;
      padding-left: .5rem;

      &::after {
        display: none;
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(135deg,
          var(--color-odd) 25%,
          var(--color-even) 25%,
          var(--color-even) 50%,
          var(--color-odd) 50%,
          var(--color-odd) 75%,
          var(--color-even) 75%,
          var(--color-even) 100%
        );
        background-size: 28.28px 28.28px;
        opacity: .5;
      }
    }

    &_controls {
      display: flex;
      align-items: flex-start;
      padding-block: .2rem;
    }
  }

  &__num-val {
    min-width: 2rem;
    text-align: right;

    &::before {
      content: "#";
      display: inline;
    }
  }

  &_important {
    .todo__content {
      font-weight: bold;
    }
  }

  &_completed {
    .todo__cell {
      &_num, &_content {
        color: hsl(0, 0%, 50%);
      }

      &_content {
        &::after {
          display: block;
        }
      }
    }
  }

  & &__btn {
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: .5rem;
    font-size: 1.2rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .1;
      transition: .2s background-color linear;
    }

    &:hover {
      background-color: transparent;

      &::before {
        background-color: currentColor;
      }
    }

    &_complete {
      color: $color_accent;
    }

    &_mark {
      color: $color_warn;
    }

    &_delete {
      color: $color_danger;
    }
  }
}